<!doctype HTML>
<html>
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">  
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
<script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
<script src="https://unpkg.com/aframe-event-set-component@5/dist/aframe-event-set-component.min.js"></script>
<script src="https://unpkg.com/aframe-layout-component@5.3.0/dist/aframe-layout-component.min.js"></script>
<script src="https://unpkg.com/aframe-template-component@3.2.1/dist/aframe-template-component.min.js"></script>
<script src="https://unpkg.com/aframe-proxy-event-component@2.1.0/dist/aframe-proxy-event-component.min.js"></script>
<script src="https://raw.githack.com/AR-js-org/AR.js/master/three.js/build/ar.js"></script>

<script>
  AFRAME.registerComponent('markerhandler', {
    init: function () {
      this.el.addEventListener('markerFound', () => {
        var markerId = this.el.id;
        if (markerId=="marker1")
        {
           var entity = document.getElementById("sounda1");
           entity.components.sound.playSound();
        }
        if (markerId=="marker2")
        {
          var entity = document.getElementById("soundb1");
          entity.components.sound.playSound();
        }
        if (markerId=="marker3")
        {
          var entity = document.getElementById("soundc1");
          entity.components.sound.playSound();
        }
        if (markerId=="marker4")
        {
          var entity = document.getElementById("soundd1");
          entity.components.sound.playSound();
        }
        if (markerId=="marker5")
        {
          var entity = document.getElementById("sounde1");
          entity.components.sound.playSound();
        } 
      })
    }
  });
</script>
<body style="margin: 0px; overflow: hidden;">
   
  <a-scene
  vr-mode-ui="enabled: false;"
  renderer="logarithmicDepthBuffer: true;"
  embedded
  arjs="trackingMethod: best; sourceType: webcam;debugUIEnabled: false;">

    <a-assets>
      <img id="s_a" src="static/pic_letter/s_a.png" />
      <img id="s_b" src="static/pic_letter/s_b.png" />
      <img id="s_c" src="static/pic_letter/s_c.png" />
      <img id="s_d" src="static/pic_letter/s_d.png" />
      <img id="s_e" src="static/pic_letter/s_e.png" />
     
      <audio id="sound_a" src="static/sound/a.mp3" preload="auto"></audio>
      <audio id="sound_b" src="static/sound/b.mp3" preload="auto"></audio>
      <audio id="sound_c" src="static/sound/c.mp3" preload="auto"></audio>
      <audio id="sound_d" src="static/sound/d.mp3" preload="auto"></audio>
      <audio id="sound_e" src="static/sound/e.mp3" preload="auto"></audio>
      
    </a-assets>

    <a-entity sound="src: #sound_a" id="sounda1"></a-entity>
    <a-entity sound="src: #sound_b" id="soundb1"></a-entity>
    <a-entity sound="src: #sound_c" id="soundc1"></a-entity>
    <a-entity sound="src: #sound_d" id="soundd1"></a-entity>
    <a-entity sound="src: #sound_e" id="sounde1"></a-entity>

    <a-marker id="marker1" markerhandler type="pattern" url="static/pattern/pattern-small_a.patt" smooth="true"
    smoothCount="10"
    smoothTolerance=".10"
    smoothThreshold="5"
    minConfidence = "0.99">
      <a-image  id="desc" src="#s_a" rotation="-90 0 0" position="0 0 -1.5"></a-image>
   </a-marker>

   <a-marker id="marker2" markerhandler type="pattern" url="static/pattern/pattern-small_b.patt" smooth="true"
   smoothCount="10"
   smoothTolerance=".10"
   smoothThreshold="5"
   minConfidence = "0.99">
    <a-image  id="desc" src="#s_b" rotation="-90 0 0" position="0 0 -1.5"></a-image>
   </a-marker>

   <a-marker id="marker3" markerhandler type="pattern" url="static/pattern/pattern-small_c.patt" smooth="true"
   smoothCount="10"
   smoothTolerance=".10"
   smoothThreshold="5"
   minConfidence = "0.99">
    <a-image  id="desc" src="#s_c" rotation="-90 0 0" position="0 0 -1.5"></a-image>
   </a-marker>

   <a-marker id="marker4" markerhandler type="pattern" url="static/pattern/pattern-small_d.patt" smooth="true"
   smoothCount="10"
   smoothTolerance=".10"
   smoothThreshold="5"
   minConfidence = "0.99">
    <a-image  id="desc" src="#s_d" rotation="-90 0 0" position="0 0 -1.5"></a-image>
   </a-marker>

   <a-marker id="marker5" markerhandler type="pattern" url="static/pattern/pattern-small_e.patt" smooth="true"
   smoothCount="10"
   smoothTolerance=".10"
   smoothThreshold="5"
   minConfidence = "0.99">
    <a-image  id="desc" src="#s_e" rotation="-90 0 0" position="0 0 -1.5"></a-image>
   </a-marker>
  <a-entity camera></a-entity>
    
</a-scene>
</body>
</html>
